

#details {
    position: absolute;
    top: 80px;

    margin-right: 20px;
    height: 100px;
    width: 100px;

}


#box-nav {
    position: absolute;
    top: 80px;
    right:80px;
    margin-right: 20px;
    height: 100px;
    width: 100px;

}


#Char {
    position: absolute;
    top: 40px;
    left: 200px;
    right:200px;

   ;

}

table {
    opacity: 100;


}



#guildinfo {
    position: absolute;
    top: 80px;
    right:700px;


;

}
#reqinfo {
    position: absolute;
    top: 40px;
    right:0px;
    width:320px;



}

#req {
    position: absolute;
    top: 100px;
    right:0px;
    width:500px;




}