{% extends 'userena/base_userena.html' %}
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
{% block content %}

<div id="guildinfo">
<h1> Cookie</h1>
Noobs söker massa andra noobs
</div>
<div id="raidprogress">
    <h2>Raidprogress</h2>

    Might be here soon!
</div>

<div id="reqinfo"> <h3> Recruit </h3> </div>
<div id="req">
    Vi söker atm nya Healers och DPS å tanks
</div>



{% endblock %}
</body>
</html>