{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% blocktrans with profile.user.username as username %}{{ username }}'s profile.{% endblocktrans %}{% endblock %}
{% block content_title %}<h2>{{ profile.user.username }} {% if profile.user.get_full_name %}({{ profile.user.get_full_name }}){% endif %}</h2>{% endblock %}

{% block content %}

    <script type="text/javascript">

        var url = "http://eu.battle.net/api/wow/character/{{ profile.user.last_name }}/{{ profile.user.first_name }}?fields=guild,feed&jsonp=?";

        $.getJSON( url, function( data ) {

            var strCharProf = "<div class=\"charProfile\"> <table class='table table-striped'> <tr>" +
                    "<td><p>Name: " + data.name + "</p></td>" +
                    "<td><p>Level: " + data.level + "</p></td>" +
                    "<td><p>Achievement Points: " + data.achievementPoints + "</p></td>" +
                    "<td><p>Guild: " + data.guild.name + "</p></td>" +
                    "<td><p>Guildmembers: " + data.guild.members + "</p></td>" +


                    "</tr></table></div>";

            $(strCharProf).appendTo("#Char");

            $.each(data.feed,function(f,feed){
                if (feed.type=='ACHIEVEMENT') {

                    // only collect the ones that are achvs
                    var strFeed = "<div class=\"charProfile\"><p>Type: " + feed.type + "</p>" +
                            "<p>Title: " + feed.achievement.title+ "</p>" +
                            "<p>Points: " + feed.achievement.points + "</p>" +
                            "<p>Description: " + feed.achievement.description + "</p></div>";
                    $(strFeed).appendTo("#Char");
                }
            });
        });





    </script>

<div id="Char"></div>



  <div class="white-box">
    {% block profile_navigation %}
      {% comment %}Dirty hack. Will use django-guardian in the future.{% endcomment %}
      {% if user.username == profile.user.username %}
        <ul id="box-nav" >
          {% block profile_navigation_items %}
            <li><a href='{% url userena_profile_detail user.username %}'>{% trans "View profile" %}</a></li>
            <li><a href='{% url userena_profile_edit user.username %}'>{% trans "Edit details" %}</a></li>
            <li><a href='{% url userena_password_change user.username %}'>{% trans "Change password" %}</a></li>
            <li><a href='{% url userena_email_change user.username %}'>{% trans "Change email" %}</a></li>
          {% endblock %}
        </ul>
      {% endif %}
    {% endblock %}

    <div id="details">
      {% block profile_details %}
        <img class="mugshot" src="{{ profile.get_mugshot_url }}" alt="{% trans "Your mugshot" %}" />
        <dl>
          {% block profile_definition_list %}
            {% if profile.user.get_full_name %}
              <dt>{% trans "Name" %}</dt>
              <dd>{{ profile.user.get_full_name }}</dd>
            {% endif %}

            {% if profile.user.email and not hide_email %}
              <dt>{% trans "Email" %}</dt>
              <dd>{{ profile.user.email }}</dd>
            {% endif %}



            {% if profile.age %}
              <dt>{% trans "Age" %}</dt>
              <dd>{{ profile.age }}</dd>
            {% endif %}
            {% if profile.website %}
              <dt>{% trans "Website" %}</dt>
              <dd>{{ profile.website|urlize }}</dd>
            {% endif %}
            {% if profile.location %}
              <dt>{% trans "Location" %}</dt>
              <dd>{{ profile.location }}</dd>
            {% endif %}
            {% if profile.about_me %}
              <dt>{% trans "About me" %}</dt>
              <dd>{{ profile.about_me }}</dd>
            {% endif %}
          {% endblock %}
        </dl>
      {% endblock %}
    </div>
  </div>
{% endblock %}
